{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white">
            <img src="/media/photos/site/cardealerLogoSansTexte.png" alt="Logo" class="logo mr-3">
            <div class="text-center">
                <h1 class="display-4 fw-bolder">{{ service.nom }}</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-8 mb-4 text-center">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Erreur:</strong> Il y a des erreurs dans le formulaire.
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors.0 }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <form action="" method="POST">
                {% csrf_token %}
                <br/>
                <div class="section">
                    {% if not user.is_authenticated %}

                        <div class="row">
                            <div class="col">
                                <h4 class="fw-bold mb-4">Bienvenue chez Cars-Services</i></h4>
                                <!-- <p>Veuillez compléter le formulaire ci-dessous. Nous vous recontacterons sous peu.</p> -->
                                <p>Service demandé : <b>{{ service.nom }}</b></p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="{{ form.first_name.id_for_label }}" class="form-label">Prenom:</label>
                            </div>
                            <div class="col-md-9">
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="{{ form.last_name.id_for_label }}" class="form-label">Nom:</label>
                            </div>
                            <div class="col-md-9">
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                            </div>
                            <div class="col-md-9">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label for="{{ form.phone.id_for_label }}" class="form-label">Telephone:</label>
                            </div>
                            <div class="col-md-9">
                                {{ form.phone }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col">
                                <h4 class="fw-bold mb-4">Bienvenue {{ user.username }} <i class="bi bi-person-fill me-1"></i>
                                </h4>
                                <p>Veuillez compléter le formulaire ci-dessous. Nous vous recontacterons sous peu.</p>
                                <b>{{ service.nom }}</b></p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                    {% if service.nom == 'Déplacement de Véhicule Longue Distance' or service.nom == 'Déplacement de Véhicule Courte Distance' %}
                    
                        
                    <form action="" method="POST" class="p-4">
                        {% csrf_token %}
                        
                        <div class="section">
                            <!-- Instructions utilisateur -->
                            <div class="mb-3 text-start">
                                <p><strong>Veuillez indiquer :</strong></p>
                                <ul>
                                    <li>La date à laquelle vous souhaitez déplacer votre véhicule</li>
                                    <li>La localité de départ, c'est-à-dire le point de départ de prise en charge</li>
                                    <li>La localité du lieu où celui-ci devra être déposé</li>
                                    <li>Indiquer dans "Détails" toutes remarques ou spécifications concernant le véhicule ou le mode de transport.</li>
                                </ul>
                                <p>Nous vous contacterons par téléphone ou par e-mail pour convenir du prix et des modalités du processus.</p>
                            </div>
                    
                            <!-- Champ Date -->
                            <div class="row mb-3 align-items-center">
                                <label for="{{ form.date_desiree.id_for_label }}" class="col-md-3 col-form-label">Date</label>
                                <div class="col-md-9">
                                    {{ form.date_desiree }}
                                </div>
                            </div>
                    
                            <!-- Champ Localité de départ -->
                            <div class="row mb-3 align-items-center">
                                <label for="{{ form.startLocation.id_for_label }}" class="col-md-3 col-form-label">Localité départ</label>
                                <div class="col-md-9">
                                    {{ form.startLocation }}
                                </div>
                            </div>
                    
                            <!-- Champ Localité d'arrivée -->
                            <div class="row mb-3 align-items-center">
                                <label for="{{ form.endLocation.id_for_label }}" class="col-md-3 col-form-label">Localité arrivée</label>
                                <div class="col-md-9">
                                    {{ form.endLocation }}
                                </div>
                            </div>
                    
                            <!-- Champ Détails -->
                            <div class="row mb-3 align-items-center">
                                <label for="{{ form.details.id_for_label }}" class="col-md-3 col-form-label">Détails</label>
                                <div class="col-md-9">
                                    {{ form.details }}
                                </div>
                            </div>
                    
                            <!-- Bouton Envoyer -->
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    
                    {% elif service.nom == 'Service d\'Achat de Véhicule' %}
                    <div class="section">
                        <h4 class="row mx-3 mb-2">Votre voiture</h4>
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.marque.id_for_label }}" class="form-label">Marque :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.marque }}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.modele.id_for_label }}" class="form-label">Modèle :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.modele }}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.annee_fabrication.id_for_label }}" class="form-label">Année Fabrication :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.annee_fabrication }}
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.carburant.id_for_label }}" class="form-label">Carburant :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.carburant }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.transmission.id_for_label }}" class="form-label">Transmission :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.transmission }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.kilometrage.id_for_label }}" class="form-label">Kilométrage :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.kilometrage }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.details.id_for_label }}" class="form-label">Remarque ou autre :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.details }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.prix.id_for_label }}" class="form-label">Prix souhaité :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.prix }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 text-end">
                                <label for="{{ form.car_doc.id_for_label }}" class="form-label">Carte grise :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.car_doc }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-secondary">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    {% elif service.nom == 'Passage au controle technique de vente' or service.nom == 'Passage au controle technique annuel' %}
                    <div class="section">
                        <div class="row mb-3 align-items-center"> 
                            <div class="col-md-3 text-end">
                                <label for="{{ form.date_desiree.id_for_label }}" class="form-label">Date :</label>
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.date_desiree }}
                                <a href="#" class="text-muted" data-bs-toggle="collapse" data-bs-target="#dateHint">
                                    <i class="bi bi-info-circle-fill"></i> 
                                </a>
                                <div id="dateHint" class="collapse">
                                    <small class="form-text text-muted"> 
                                        Date à laquelle vous souhaiteriez passer le véhicule au contrôle technique. 
                                        Notez qu'il faut en général prévoir un créneau de 2 ou 3 jours autour de la date indiquée.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center"> 
                            <div class="col-md-3 text-end">
                                <label for="{{ form.startLocation.id_for_label }}" class="form-label">Lieu de départ :</label> 
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.startLocation }}
                                <a href="#" class="text-muted" data-bs-toggle="collapse" data-bs-target="#lieuHint">
                                    <i class="bi bi-info-circle-fill"></i> 
                                </a>
                                <div id="lieuHint" class="collapse">
                                    <small class="form-text text-muted"> 
                                        Veuillez spécifier dans les Remarques si le lieu spécifié est votre domicile ou votre lieu de travail.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center"> 
                            <div class="col-md-3 text-end">
                                <label for="{{ form.endLocation.id_for_label }}" class="form-label">Lieu d'arrivée :</label> 
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.endLocation }}
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center"> 
                            <div class="col-md-3 text-end">
                                <label for="{{ form.car_doc.id_for_label }}" class="form-label">Document du véhicule :</label> 
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.car_doc }}
                            </div>
                        </div>
                        <div class="row mb-3 align-items-center"> 
                            <div class="col-md-3 text-end">
                                <label for="{{ form.details.id_for_label }}" class="form-label">Remarques :</label> 
                            </div>
                            <div class="col-md-9 text-start">
                                {{ form.details }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>

            </form>
        
        </div>
    </div>
</div>


{% endblock %}