{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <img src="/media/photos/site/cardealerLogoSansTexte.png" alt="Logo" class="logo mr-3">
            <div class="text-center">
                <h1 class="display-4 fw-bolder">A propos</h1>
                <p class="lead fw-normal text-white-50 mb-0">Bienvenue sur Cars-Services</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-8 mb-4 text-center">
            <div class="card-header"></div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="card-text">
                        Rafeek Mahbou et Samir Lahoud mettent à votre service leur expertise cumulée de plus de 20 ans dans
                        le domaine de la vente de véhicules d'occasion. Rafeek, fort d'une expérience variée avec des
                        concessionnaires et des experts en automobiles, a acquis une connaissance approfondie du marché des
                        voitures d'occasion. Samir, quant à lui, s'est spécialisé dans la fourniture de services de plaque
                        Z, offrant des solutions pratiques pour les clients cherchant à immatriculer leurs véhicules.

                        En unissant leurs forces, Rafeek et Samir ont créé une entreprise qui allie la vente de véhicules
                        d'occasion de qualité à un service de plaque Z efficace et sans tracas. En tant que concessionnaires
                        indépendants, ils s'engagent à fournir des voitures d'occasion soigneusement sélectionnées, passées
                        en revue par des experts pour garantir la satisfaction de leurs clients.

                        Leur service de plaque Z simplifie le processus administratif, permettant aux clients de recevoir
                        rapidement leurs nouvelles plaques d'immatriculation sans tracas inutiles. Avec une approche axée
                        sur le client, Rafeek et Samir offrent une expérience complète, combinant l'achat de véhicules
                        d'occasion de qualité avec des solutions pratiques pour l'immatriculation. Chez Véhicules Select
                        Rafeek & Samir, la satisfaction du client est la priorité, offrant un service personnalisé et fiable
                        à chaque étape de votre achat automobile.
                    </p>
                    <footer class="blockquote-footer">Quelqu'un de célèbre dans <cite title="Source Title">Titre de la source</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

{% endblock %}
