{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-2">
    <div class="text-center text-white">
      <img src="/media/photos/site/cardealerLogoSansTexte.png" alt="Logo" class="logo mb-3">
      <h1 class="display-4 fw-bolder">À propos</h1>
      <p class="lead fw-normal text-white-50 mb-0">Bienvenue sur Cars-Services</p>
    </div>
  </div>
</header>

<section class="about-section py-5">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white text-center">
            <h2>Notre Histoire</h2>
          </div>
          <div class="card-body">
            <p class="card-text">
              Rafeek Mahbou et Samir Lahoud mettent à votre service leur expertise cumulée de plus de 20 ans dans le domaine de la vente de véhicules d'occasion.
              Rafeek, fort d'une expérience variée avec des concessionnaires et des experts en automobiles, a acquis une connaissance approfondie du marché des voitures d'occasion. 
              Samir, quant à lui, s'est spécialisé dans la fourniture de services de plaque Z, offrant des solutions pratiques pour les clients cherchant à immatriculer leurs véhicules.
            </p>
            <p class="card-text">
              En unissant leurs forces, Rafeek et Samir ont créé une entreprise qui allie la vente de véhicules d'occasion de qualité à un service de plaque Z efficace et sans tracas. 
              En tant que concessionnaires indépendants, ils s'engagent à fournir des voitures d'occasion soigneusement sélectionnées, passées en revue par des experts pour garantir la satisfaction de leurs clients.
            </p>
            <p class="card-text">
              Leur service de plaque Z simplifie le processus administratif, permettant aux clients de recevoir rapidement leurs nouvelles plaques d'immatriculation sans tracas inutiles. 
              Avec une approche axée sur le client, Rafeek et Samir offrent une expérience complète, combinant l'achat de véhicules d'occasion de qualité avec des solutions pratiques pour l'immatriculation. 
              Chez Véhicules Select Rafeek & Samir, la satisfaction du client est la priorité, offrant un service personnalisé et fiable à chaque étape de votre achat automobile.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="legal-section py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group shadow-sm" id="legal-list"> 
              <a href="#info-legales" class="list-group-item list-group-item-action text-center active" data-target="info-legales">Informations légales</a>
              <a href="#conditions-utilisation" class="list-group-item list-group-item-action text-center" data-target="conditions-utilisation">Conditions d'utilisation</a>
              <a href="#conditions-generales" class="list-group-item list-group-item-action text-center" data-target="conditions-generales">Conditions Générales</a>
              <a href="#protection-donnees" class="list-group-item list-group-item-action text-center" data-target="protection-donnees">Protection des données</a>
              <a href="#directives-mise-en-page" class="list-group-item list-group-item-action text-center" data-target="directives-mise-en-page">Directives de mise en page</a>
              <a href="#declaration-consentement" class="list-group-item list-group-item-action text-center" data-target="declaration-consentement">Déclaration de consentement</a>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card shadow-sm">
              <!-- Les ID sont ajoutés ici pour correspondre aux ancres du footer -->
              <div class="card-body tab-content" id="info-legales">
                <h4 class="card-title">Informations légales</h4>
                <p class="card-text">
                  Contenu en cours de rédaction et relecture par organisme juridique.
                </p>
              </div>

              <div class="card-body tab-content d-none" id="conditions-utilisation">
                <h4 class="card-title">Conditions d'utilisation</h4>
                <p class="card-text">
                  Contenu en cours de rédaction et relecture par organisme juridique.
                </p>
              </div>

              <div class="card-body tab-content d-none" id="conditions-generales">
                <h4 class="card-title">Conditions Générales</h4>
                <p class="card-text">
                  Contenu en cours de rédaction et relecture par organisme juridique.
                </p>
              </div>

              <div class="card-body tab-content d-none" id="protection-donnees">
                <h4 class="card-title">Protection des données</h4>
                <p class="card-text">
                  Contenu en cours de rédaction et relecture par organisme juridique.
                </p>
              </div>

              <div class="card-body tab-content d-none" id="directives-mise-en-page">
                <h4 class="card-title">Directives de mise en page</h4>
                <p class="card-text">
                  Contenu en cours de rédaction et relecture par organisme juridique.
                </p>
              </div>

              <div class="card-body tab-content d-none" id="declaration-consentement">
                <h4 class="card-title">Déclaration de consentement</h4>
                <p class="card-text">
                  Contenu en cours de rédaction et relecture par organisme juridique.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  // JavaScript pour changer de section
  document.querySelectorAll('.list-group-item').forEach(function (element) {
    element.addEventListener('click', function (e) {
      e.preventDefault();

      // Retirer la classe 'active' de tous les éléments de la liste
      document.querySelectorAll('.list-group-item').forEach(function (el) {
        el.classList.remove('active');
      });

      // Ajouter la classe 'active' à l'élément cliqué
      element.classList.add('active');

      // Cacher toutes les sections de contenu
      document.querySelectorAll('.tab-content').forEach(function (tab) {
        tab.classList.add('d-none');
      });

      // Afficher la section correspondant à l'élément sélectionné
      const target = element.getAttribute('data-target');
      document.getElementById(target).classList.remove('d-none');
    });
  });
</script>


{% endblock %}
