{% extends 'base.html' %}

{% block content %}

<header class="bg-dark ">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <img src="/media/photos/site/cardealerLogoSansTexte.png" alt="Logo" class="logo mr-3">
            <h1 class="display-4 fw-bolder">Tableau de bord Vendeur</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenue {{ user.username }}</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <!-- Statistiques globales -->
        <!-- Statistiques globales -->
        {% if user.is_superuser %}
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h2>Statistiques globales</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h4>Total voitures vendues</h4>
                            <p class="display-4">{{ total_voitures_vendues }}</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4>Ventes cette semaine</h4>
                            <p class="display-4">{{ ventes_semaine }}</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4>Total des revenus</h4>
                            <p class="display-4">{{ total_revenus }}€</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif user.is_staff %}
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-header">
                    <h2>Statistiques globales</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h4>Voitures disponibles</h4>
                            <p class="display-4">{{ voitures_disponibles }}</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4>Demandes en attente</h4>
                            <p class="display-4">{{ demandes_attente }}</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4>% Voitures vendues</h4>
                            <p class="display-4">{{ pourcentage_voitures_vendues }}%</p>
                        </div>
                        <div class="col-md-12 text-center mt-4">
                            <h4>Tendance des ventes cette semaine</h4>
                            <p class="lead">
                                {% if progression_semaine > 0 %}
                                <span class="text-success">+{{ progression_semaine }}%</span> (progression par rapport à la semaine précédente)
                                {% elif progression_semaine < 0 %}
                                <span class="text-danger">{{ progression_semaine }}%</span> (baisse par rapport à la semaine précédente)
                                {% else %}
                                <span>Aucune variation cette semaine</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Graphiques -->
        <div class="col-12 mb-4">
            <div class="card shadow" style="height: 400px;">
                <div class="card-header">
                    <h2>Visualisations</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="salesByServiceChart" style="max-height: 180px;"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="requestsByServiceChart" style="max-height: 180px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section : Voitures -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2>Voitures</h2>
                    <div class="d-flex align-items-center">
                        <form method="GET" class="me-3 d-flex align-items-center">
                            <select name="status_voiture" id="status_voiture" class="form-select me-2">
                                <option value="">Tous les statuts</option>
                                {% for status in voiture_status %}
                                    <option value="{{ status.0 }}" {% if status_voiture_filter == status.0 %}selected{% endif %}>
                                        {{ status.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-secondary">Filtrer</button>
                        </form>
                                               
                        <a href="{% url 'addVoiture' %}" class="btn btn-primary">Ajouter un véhicule</a>
                        

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Marque</th>
                                <th>Modèle</th>
                                <th>Année</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for voiture in voitures %}
                            <tr>
                                <td>{{ voiture.marque }}</td>
                                <td>{{ voiture.modele }}</td>
                                <td>{{ voiture.annee_fabrication }}</td>
                                <td>{{ voiture.status }}</td>
                                <td>
                                    <a href="{% url 'voitureEdit' voiture.pk %}" class="btn btn-secondary">Modifier</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if voitures.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page_voitures={{ voitures.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for num in voitures.paginator.page_range %}
                            <li class="page-item {% if voitures.number == num %}active{% endif %}">
                                <a class="page-link" href="?page_voitures={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}
                            {% if voitures.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page_voitures={{ voitures.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Section : Ventes -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2>Ventes</h2>
                    <form method="GET" class="d-flex">
                        <select id="genre" name="genre" class="form-select me-2">
                            <option value="">Tous</option>
                            <option value="Vente" {% if genre_filter == "Vente" %}selected{% endif %}>Ventes</option>
                            <option value="Service" {% if genre_filter == "Service" %}selected{% endif %}>Services</option>
                        </select>
                        <select id="status_vente" name="status_vente" class="form-select me-2">
                            <option value="">Tous les statuts</option>
                            {% for status in vente_status %}
                                <option value="{{ status.0 }}" {% if status_vente_filter == status.0 %}selected{% endif %}>
                                    {{ status.1 }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Filtrer</button>
                    </form>
                    
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Client</th>
                                <th>Véhicule</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vente in ventes %}
                            <tr>
                                <td>{{ vente.demande_id.service.nom|default:"Vente véhicule" }}</td>
                                <td>{{ vente.user_id.username }}</td>
                                <td>{{ vente.voiture_id|default:"Service" }}</td>
                                <td>{{ vente.date|date:"d F Y" }}</td>
                                <td>{{ vente.montant_total }}€</td>
                                <td>
                                    {% if vente.paid == 'yes' %}Payé{% endif %}
                                    {% if vente.paid == 'partially' %}Acompte Reçu{% endif %}
                                    {% if vente.paid == 'no' %}Non payé{% endif %}
                                    {% if vente.paid == 'cancelled' %}Vente annuler{% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'vente_details' vente.id %}" class="btn btn-primary">Détails</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Section : Demandes -->
        <div class="col-12 mb-4">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2>Demandes</h2>
                    <form method="GET" class="d-flex">
                        <select name="status" class="form-select me-2">
                            <option value="">Tous les statuts</option>
                            {% for status in demande_status %}
                                <option value="{{ status }}" {% if status_filter == status %}selected{% endif %}>
                                    {{ status }}
                                </option>
                            {% endfor %}
                        </select>
                        <select name="service" class="form-select me-2">
                            <option value="">Tous les services</option>
                            {% for service in demande_services %}
                                <option value="{{ service.id }}" {% if service_filter == service.id %}selected{% endif %}>
                                    {{ service.nom }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Filtrer</button>
                    </form>
                    
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Client</th>
                                <th>Date demandée</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for demande in demandes %}
                            <tr>
                                <td>{{ demande.service.nom }}</td>
                                <td>
                                    {% if demande.member %}
                                        {{ demande.member.username }}
                                    {% else %}
                                        {{ demande.first_name }} {{ demande.last_name }}
                                    {% endif %}
                                </td>
                                <td>{{ demande.date_desiree|date:"d F Y" }}</td>
                                <td>{{ demande.status }}</td>
                                <td>
                                    <a href="{% url 'demande_details' demande.id %}" class="btn btn-primary">Détails</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const salesByServiceCtx = document.getElementById('salesByServiceChart').getContext('2d');
    const requestsByServiceCtx = document.getElementById('requestsByServiceChart').getContext('2d');

    new Chart(salesByServiceCtx, {
        type: 'bar',
        data: {
            labels: JSON.parse('{{ sales_by_service_labels|safe }}'),
            datasets: [{
                label: 'Ventes par service',
                data: JSON.parse('{{ sales_by_service_data|safe }}'),
                backgroundColor: 'rgba(54, 162, 235, 0.7)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Ventes par Service'
                }
            }
        }
    });

    new Chart(requestsByServiceCtx, {
        type: 'pie',
        data: {
            labels: JSON.parse('{{ requests_by_service_labels|safe }}'),
            datasets: [{
                label: 'Demandes par service',
                data: JSON.parse('{{ requests_by_service_data|safe }}'),
                backgroundColor: [
                    '#007bff', '#28a745', '#ffc107', '#dc3545', '#6f42c1'
                ],
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom',
                },
                title: {
                    display: true,
                    text: 'Demandes par Service'
                }
            }
        }
    });
</script>


{% endblock %}
