{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <img src="/media/photos/site/cardealerLogoSansTexte.png" alt="Logo" class="logo mr-3">
            <div class="text-center">
                <h1 class="display-4 fw-bolder">A propos</h1>
                <p class="lead fw-normal text-white-50 mb-0">Bienvenue sur Cars-Services</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-8 mb-4 text-center">
            <div class="card-header">
                <h3>Merci pour votre payement.</h3>
                    {{Voiture.id}} 
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}
