{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <img src="/media/photos/site/cardealerLogoSansTexte.png" alt="Logo" class="logo mr-3">
            <div class="text-center">
                <h1 class="display-4 fw-bolder">Détails de la Vente</h1>
                <p class="lead fw-normal text-white-50 mb-0">Voici les informations complètes sur la vente.</p>
            </div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h3>Détails de la vente</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                            <dt class="col-md-4"> 
                                <p><strong>Membre:</strong> {{ vente.user_id.username }}</p> 
                            </dt>
                            <dd class="col-md-8">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#memberModal">Info</button> 
                            </dd>
                        
                        
                        
                        
                        
                        {% if vente.voiture_id %}
                        <dt class="col-sm-4">Véhicule :</dt>
                        <dd class="col-sm-8">
                            <a href="{% url 'voiture' vente.voiture_id.id %}">{{ vente.voiture_id.modele.nom }}</a> 
                        </dd>
                        {% endif%}
                        <dt class="col-sm-4">Montant total :</dt>
                        <dd class="col-sm-8">{{ vente.montant_total }} €</dd> 
                        {% if vente.montant_acompte %}
                        <dt class="col-sm-4">Accompte :</dt>
                        <dd class="col-sm-8">{{ vente.montant_acompte }} €</dd> 
                        {% endif%}
                        {% if vente.montant_restant %}
                        <dt class="col-sm-4">Montant restant :</dt>
                        <dd class="col-sm-8">{{ vente.montant_restant }} €</dd> 
                        {% endif%}
                        <dt class="col-sm-4">Payé :</dt>
                        <dd class="col-sm-8">
                            {% if vente.paid == 'yes' %}
                                Oui <span class="badge bg-success">&#10003;</span>
                            {% elif vente.paid == 'partially' %}
                                Partiellement <span class="badge bg-warning text-dark">&#9888;</span>
                            {% else %}
                                Non <span class="badge bg-danger">&#10005;</span>
                            {% endif %}
                        </dd>
                    </dl>
                </div>

                <div class="card-body">
                    <h4>Notes</h4> 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Utilisateur</th>
                                <th>Contenu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note.date }}</td>
                                    <td>{{ note.user_id }}</td>
                                    <td>{{ note.contenu }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <h5>Ajouter une note</h5>
                    <form method="post" action="{% url 'ajouter_note_vente' vente.id %}"> {% csrf_token %} 
                        {% csrf_token %}
                        <div class="mb-3">
                            <textarea class="form-control" name="contenu" rows="3" placeholder="Entrez votre note ici"></textarea>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="customerVisible" name="customer_visible">
                            <label class="form-check-label" for="customerVisible">Visible par le client</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter Note</button>
                    </form>
                </div>

                <div class="card-body">
                    {% if vente.paid == 'yes' %}
                        {% if vente.voiture_id.id %}
                            {% if vente.voiture_id.status == 'livré' %}
                            <a class="btn btn-primary" disabled >Véhicule livré</a> 
                            {% else %}
                                {% if vente.demande_id and vente.voiture_id.id %}
                                <a href="{% url 'car_delivery' vente.voiture_id.id vente.demande_id.id %}" class="btn btn-primary">Reception par client</a> 
                                {% else %}
                                <a href="{% url 'car_deliveryDirect' vente.voiture_id.id  %}" class="btn btn-primary">Reception par client</a> 
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% elif vente.paid == 'partially' %}
                        <div class="container">
                          <div class="row"> 
                            <div class="col-md-6">  
                              <a href="{% url 'vente_payer' vente.id %}" class="btn btn-primary w-100">Générer demande de paiement</a> 
                            </div>
                            <div class="col-md-6">  
                              <a href="{% url 'annuler_vente_admin' vente.id %}" class="btn btn-primary w-100">Annuler réservation</a>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="memberModalLabel">Informations du membre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <p><strong>Nom d'utilisateur :</strong> {{ vente.user_id.username }}</p>
                    <p><strong>Email :</strong> {{ vente.user_id.email }}</p>
                    <p><strong>Téléphone :</strong> {{ vente.user_id.phone }}</p> 
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}