{% extends 'base.html' %}

{% block content %}
<style>
    .fixed-size-image {
        width: 100%;
        height: 200px;
        /* Définir une hauteur fixe */
        object-fit: cover;
        /* Assurez-vous que l'image couvre la zone sans déformation */
    }

    .badge-custom {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        padding: 0.5em 1em;
    }

    .sold-badge {
        background-color: #dc3545;
        color: #fff;
    }

    .reserve-badge {
        background-color: #ffc107;
        color: #212529;
    }

    .car-details ul {
        padding-left: 0;
        list-style: none;
    }

    .car-details ul li {
        margin-bottom: 10px;
    }

    .car-options {
        display: flex;
        flex-wrap: wrap;
    }

    .car-options li {
        flex-basis: 50%;
    }

    .modal-img {
        max-width: 100%;
        height: auto;
    }
</style>

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-2 text-center">
        <img src="/media/photos/site/cardealerLogo.png" alt="Logo" class="logo mr-3">
        <h1 class="display-4 fw-bolder text-white">Détails de la Voiture</h1>
    </div>
</header>
<br><br>

{% if voiture %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-6 shadow-lg">
            <div class="row g-0">
                <!-- Images et badges -->
                <div class="col-md-8 p-3 position-relative">
                    {% if voiture.sold %}
                    <span class="badge badge-custom sold-badge">Vendu !</span>
                    {% endif %}
                    {% if voiture.reserve %}
                    <span class="badge badge-custom reserve-badge">Réservé !</span>
                    {% endif %}
                    <img src="{{ voiture.images.first.image.url }}" class="img-fluid rounded-start w-100"
                        alt="Image de la voiture">
                    <h3 class="mt-3">{{ voiture }}</h3>
                </div>

                <!-- Détails de la voiture -->
                <div class="col-md-4 car-details">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span class="fw-bold fs-3">{{ voiture.marque.nom }}</span>
                            <span class="fs-5"> - {{ voiture.modele.nom }} {{ voiture.annee_fabrication }}</span>
                        </h5>
                        <h4>{{ voiture.prix }}.00€</h4>
                        <ul>
                            <li><b>Modèle:</b> {{ voiture.modele.nom }}</li>
                            <li><b>Année:</b> {{ voiture.annee_fabrication }}</li>
                            <li><b>Carburant:</b> {{ voiture.carburant }}</li>
                            <li><b>Transmission:</b> {{ voiture.transmission }}</li>
                            <li><b>Kilométrage:</b> {{ voiture.kilometrage }} km</li>
                        </ul>

                        <div class="d-flex flex-wrap align-items-center mb-3">
                            {% if not user.is_superuser or user.member.Staff_status %}
                            <a href="{% url 'contact_vehicule' voiture.id %}" class="btn btn-outline-dark me-2">
                                <i class="bi bi-chat-text"></i> Contact
                            </a>
                            {% endif %}

                            {% if user.is_authenticated %}

                            {% if voiture.status == 'avendre' %}
                            <button type="button" class="btn btn-outline-dark me-2" id="add-cart"
                                value="{{ voiture.id }}">Ajouter à la sélection</button>
                            {% else %}
                            <button class="btn btn-outline-dark me-2" disabled>Ajouter à la sélection</button>
                            <p class="text-muted">Ce véhicule n'est plus disponible pour le moment.</p>
                            {% endif %}

                            {% if user.is_superuser or user.member.Staff_status %}
                            <a class="btn btn-outline-dark me-2" href="http://127.0.0.1:8000/admin/car_dealer/voiture/{{voiture.id}}/change/">BackEnd</a> 
                            {% endif %}

                            {% else %}
                            <button class="btn btn-outline-dark me-2" disabled>Sélectionner</button>
                            <p class="text-muted">Vous devez être connecté pour sélectionner ce véhicule.</p>
                            {% endif %}

                        </div>

                        <p class="card-text mb-3">{{ voiture.description }}</p>
                    </div>
                </div>
            </div>

            <!-- Options supplémentaires -->
            <div class="col-md-12 px-5 ">
                <h5>Options :</h5>
                <div class="row list-unstyled">
                    {% if voiture.cruise_control %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked="true">
                            <label class="form-check-label" for="flexCheckChecked">
                                Cruise Control
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.direction_assistee %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Direction assistée
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.audio_interface %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Audio Interface
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.airbags %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Airbags
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.air_conditionne %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Air Conditionné
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.siege_chauffant %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Siège Chauffant
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.alarm_system %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Alarm System
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.parkassist %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Park Assist
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.camera_recul %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Camera de Recul
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.start_stop %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Start & Stop
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.essui_auto %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Essuie-glace Auto car_play
                            </label>
                        </div>
                    </li>
                    {% endif %}
                    {% if voiture.car_play %}
                    <li class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Car Play-System
                            </label>
                        </div>
                    </li>
                    {% endif %}
                </div>
                <p class="card-text"><small class="text-muted">Ajoutée le {{ voiture.date_poste }}</small></p>
                <br />
            </div>
        </div>

        <!-- Galerie d'images -->
        <div class="container px-4 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
                {% for image in voiture.images.all %}
                <div class="col mb-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal"
                        data-bs-image="{{ image.image.url }}">
                        <img src="{{ image.image.url }}" class="img-fluid fixed-size-image"
                            alt="Image {{ voiture.modele.nom }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Modal pour les images -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" class="img-fluid modal-img" alt="Image agrandie">
                </div>
            </div>
        </div>
    </div>

    <!-- Script AJAX pour l'ajout au panier -->
    <script>
        $(document).on('click', '#add-cart', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_add' %}',
                data: {
                    voiture_id: $(this).val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById('cart_quantity').textContent = json.qty;
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    </script>

    {% endblock %}